<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISmartWcf" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52438/SmartWcf.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISmartWcf" contract="ServiceReference.ISmartWcf"
                name="BasicHttpBinding_ISmartWcf" />
        </client>
    </system.serviceModel>
</configuration>